<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-expand-md navbar-dark bg-primary fixed-top">
        <a class="navbar-brand" href="/">SlamQuiz</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Accueil<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/category">Category<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/user">Users<span class="sr-only">(current)</span></a>
            </li>

            {% if is_granted("SUPERADMIN") %}
            <li class="nav-item">
                <a class="nav-link" href="/user">User<span class="sr-only">(current)</span></a>
            </li>
            {% endif %}
            
            </ul>


            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <a href="/logout"><button class="btn btn-danger my-2 my-sm-0" type="submit">Logout</button></a>
            {% endif %}

            {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
            <a href="/login"><button class="btn btn-success my-2 my-sm-0">Sign in</button></a>
            <a href="/register"><button class="btn btn-success my-2 my-sm-0">Sign up</button></a>
            {% endif %}

        </div>
    </nav>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
