{% extends 'base.html.twig' %}
    {% block title %}
        Get Started !
    {% endblock %}

    {% block body %}
    

    <ul>

    {% for user in users_list %}
        <li>{{ user['first_name']}} {{user['last_name']}}</li>
    {% endfor %}
    </ul>

    {{ 'Prenom' ~ 'Nom' }}

    {{ 1+2 }}

{% endblock %}